.wrapper {
  .container {
    padding: 30px;
  }
}

.commonBtn {
  display: flex;
  justify-content: center;
  a {
    display: block;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .container {
      padding: 20px;
    }
  }
}
